<!DOCTYPE html>
<html xmlns="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" prefix="og: http://ogp.me/ns#">
    <head>
	  <title>Nomnom</title>
	  <meta property="og:title" content="Nomnom"/>
	  <meta property="og:type" content="RoR App"/>
	  <meta property="og:url" content="http://powerful-journey-1891.herokuapp.com/"/>
      <meta property="og:image" content="http://www.tuxpaint.org/stamps/stamps/food/pizza.png"/>
      <meta property="og:site_name" content="Nomnom"/>
      <meta property="fb:app_id" content="139963272845939" />
      <meta property="og:description" content="Gabe's first website"/>
      

	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/header' %> 

		<%= yield %>

		<%= render 'layouts/footer' %>

	</body>
</html>
