<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:og="http://ogp.me/ns#" 
      xmlns:fb="https://www.facebook.com/2008/fbml">
    <head>
	  <title>Nomnom</title>
	  <meta property="og:title" content="Thanks!"/>
      <meta property="og:image" content="http://www.tuxpaint.org/stamps/stamps/food/pizza.png"/>
      <meta property="og:site_name" content="Nomnom"/>
      <meta property="og:description" content="Gabe's first website"/>

	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/header' %> 

		<%= yield %>

		<%= render 'layouts/footer' %>

	</body>
</html>
